<!-- ko with: home -->
<div class="jumbotron">
    <h1>IT Sligo Clubs</h1>
    <p class="lead">Registration system</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your information</h2>
        <p></p>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <label>Welcome @User.Identity.Name. For now just log off again and we'll be in touch</label>
            </div>
        }
        else
        {
            <div>
                <label>Welcome. You need to Login</label>
            </div>
        }

        
    </div>

    <div class="col-md-4">
        <h2>This Site</h2>
        <p>
            This site is in beta mode. It is only used to capture member details for trials at the moment.
            The eventual system will show club events and message on a Calendar.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
    </div>

</div>

<!-- /ko -->
